.card {
  background-color: var(--mantine-color-body);
  width: 400px;
  margin-right: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.button {
  display: flex;
  justify-content: end;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}
