.recentSearch {
  background-color: var(--mantine-color-body);
}

.button {
  display: flex;
  justify-content: end;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.location {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}
